html, body, h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins', sans-serif;
}
#profile-list .w3-bar-item { padding: 0; }
#profile-list .w3-bar img { margin-right: 16px; }
.view {
    max-width: 560px;
    margin: 0 auto;
}
.login-box>div,.register-box>div,.password-reset-box>div {
    max-width: 560px;
    margin: 0 auto;
}
.login-box .avatar,.register-box .avatar,.password-reset-box .avatar {
    width: 120px;
}

#header .title {
    display: flex;
    column-gap: 8px;
}
#header .logo, #header .logo svg {
    display: inline-block;
    width: 22px;
    height: 22px;
    color: aliceblue;
    fill: #fff;
}

#profile-chooser .w3-ul img { width: 82px; height: 82px; box-sizing: content-box; }
.footer {
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 16px;
}

#profile .link-btns, #profile .contact-btns,
#public-profile .link-btns, #public-profile .contact-btns {
    overflow: hidden;
}
#public-profile .btns a {
        border-bottom: 1px solid #0000004f;
}
#public-profile .btns a:last-child {
    border-bottom: none;
}
#public-profile {
    padding-top: 102px;
}
#profile, #public-profile {
    padding-bottom: 110px;
}
#profile .image-card .w3-display-container {
    width: 180px;
    margin: auto;
}
#profile .image-card img,#public-profile .image-card img {
    width: 180px;
}
#profile .social-btns .btns, #profile .btn-wrapper, #public-profile .social-btns .btns {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}
#profile .social-btns .btn-container {
    display: inline-block;
}


#public-profile .image-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

#public-profile #contact,
#public-profile #social,
#public-profile #link {
    display: none;
}